@font-face
{
    font-family: 'ElegantIcons';
    src:url('fonts/ElegantIcons.eot');
    src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
        url('fonts/ElegantIcons.woff') format('woff'),
        url('fonts/ElegantIcons.ttf') format('truetype'),
        url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin elegantIcons()
{
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
@mixin flex()
{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin text-indent()
{
    text-indent: 100%; 
    white-space: nowrap; 
    overflow: hidden;
}